*{
	padding: 0;
    margin: 0;
}

body{
	background: url(img/fon.jpg);
	width: 100%;
	height: 200px;
}
  h1 {
  	text-align: center;
  	background-color:  black;
    color: white;
    padding: 20px;
  }

  